.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #fff;
  position: relative;
}

.navbar-logo {
  display: flex;
  gap: 7px;
  align-items: center;
}

.navbar-title {
  color: #43b3a0;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-links {
  display: flex;
  gap: 1.7rem;
  padding: 5px;
  align-items: center;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-right: 7px;
}

.navbar-link {
  background: none;
  border: none;
  color: #1c1c1c;
  cursor: pointer;
  font-size: 0.95rem;
  text-decoration: none;
}

.navbar-link {
  text-decoration: none;
  transition: 0.3s;
}

.navbar-link:hover {
  color: #43b3a0;
  text-decoration: underline;
  text-decoration-color: #43b3a0;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.navbar-button {
  background: none;
  border: 1px solid #43b3a0;
  color: #43b3a0;
  border-radius: 7px;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  font-size: 0.95rem;
  text-decoration: none;
}

.navbar-button:hover {
  background: #43b3a0;
  color: #fff;
}

.navbar-login {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.95rem;
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;
  color: #48a488;
  cursor: pointer;
  z-index: 30;
}


@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 64px;
    right: 0;
    background: #fff;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 20;
  }

  .navbar-links.open {
    transform: translateX(0);
  }

  .navbar-menu {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 0;
  }

  .navbar-link,
  .navbar-button,
  .navbar-login {
    width: 100%;
    text-align: left;
    padding: 0.5rem 0;
    border: none;
    background: none;
  }

  .navbar-button {
    border: 1px solid #48a488;
    border-radius: 7px;
    padding: 0.5rem 1rem;
  }

  .navbar-title {
    font-size: 1rem;
  }
}