.anunciar-bg {
  background-color: #e6f8f0;
  min-height: 100vh;
  padding: 2rem 1rem;
}

.anunciar-box {
  background: white;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  font-family: "Quicksand", sans-serif;
}

.anunciar-box h1 {
  color: #2d2d2d;
  font-size: 1.8rem;
  margin: 0 auto;
  text-align: center;
  display: block;
}


.subtitulo {
  text-align: center;
  color: #555;
  font-size: 0.95rem;
  margin-bottom: 2rem;
}

.anunciar-box form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.anunciar-box label {
  font-weight: bold;
  color: #1c1c1c;
  font-size: 0.95rem;
}

.anunciar-box input,
.anunciar-box select,
.anunciar-box textarea {
  padding: 0.7rem;
  font-family: inherit;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  background-color: #fefefe;
}

.anunciar-box textarea {
  resize: vertical;
  min-height: 80px;
}

.imagem-dica {
  font-size: 0.8rem;
  color: #888;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.anunciar-box button {
  background-color: #43b3a0;
  color: white;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.anunciar-box button:hover {
  background-color: #379c8d;
}

.dicas-box {
  margin-top: 2rem;
  background-color: #d9f3e9;
  border-left: 4px solid #43b3a0;
  padding: 1rem;
  border-radius: 6px;
  font-size: 0.9rem;
  color: #1c1c1c;
}

.dicas-box h4 {
  margin-bottom: 0.5rem;
  color: #2d8a74;
}

.dicas-box l {
    margin-left: 0.5rem;
}
