/* reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* corpo e altura */
body, html, #root {
  height: 100%;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #000000;
}

/* links */
a {
  text-decoration: none;
  color: inherit;
}

/* botões */
button {
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  font-size: 1em;
}

/* botão quando clicado */
button:focus, button:active {
  outline: 2px solid #48a488;
}
